body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width: 60%;
  background-color: lightcyan;
  border: 5px solid cornflowerblue;
  border-radius: 10px;
  position: relative;
}

.btn {
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.btn-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-right{
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.container img {
  width: 100%;
  display: block;
}